{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-6 mx-auto">
                <article class="media content-section">
                    <div class="media-body post_body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ get_username(post.user_id)}}</a>
                            <small class="text-muted">{{ format_time(post.id) }}</small>
                        </div>
                        <h2 class="article-title">{{ post.title }}</h2>
                        <p class="article-content">{{ post.content }}</p>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}

{% endblock content %}