{% extends "layout.html" %}
{% block content %}
    <div id="create-post-form-overlay">
        <div id="post-form">
            <form class="post-form">
                <div class="mb-3">
                <label class="form-label">Title</label><p class="text-limit-title">Maximum title length is 35 characters</p>
                <input type="text" class="form-control post_feild" id="create-title-feild" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label class="form-label">Content</label><p class ="text-limit-content">Maximum content length is 140 characters</p>
                <textarea type="text" class="form-control post_feild" id="create-content-feild"></textarea>
                </div>
                <div class="btn btn-primary" id="cancel-form-btn">Cancel</div>
                <button type="submit" class="btn btn-primary" id="create-form-btn">Create</button>
            </form>
        </div>
    </div>
    <div id="bio-post-form-overlay">
        <div id="post-form">
            <form class="post-form">
                <div class="mb-3">
                    <label class="form-label">Bio</label><p class="text-limit-title">Maximum title length is 85 characters</p>
                    <textarea type="text" class="form-control post_feild" id="bio-content-feild"></textarea>
                </div>
                <div class="btn btn-primary" id="bio-cancel-form-btn">Cancel</div>
                <div type="submit" class="btn btn-primary" id="create-bio-btn">Done</div>
            </form>
        </div>
    </div>
    <div id="update-post-form-overlay">
        <div id="post-form">
            <form class="post-form">
                <div class="mb-3">
                    <label class="form-label">Title</label><p class="text-limit-title">Maximum title length is 35 characters</p>
                    <input type="text" class="form-control post_feild" id="update-title-feild" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label><p class ="text-limit-content">Maximum content length is 140 characters</p>
                    <textarea type="text" class="form-control post_feild" id="update-content-feild"></textarea>
                </div>
                <div class="btn btn-primary" id="cancel-update-form-btn">Cancel</div>
                <div type="submit" class="btn btn-primary" id="update-form-btn">Update</div>
            </form>
        </div>
    </div>

    <div id="delete-post-form-overlay">
        <div id="post-form">
            <div class="mb-3">
                <label class="form-label">Sure to delete?</label>
            </div>
            <div class="btn btn-primary" id="cancel-delete-form-btn">Cancel</div>
            <div type="submit" class="btn btn-primary danger-button" id="delete-form-btn">Done</div>
        </div>
    </div>
 

    <div class="content-section profile">
        <div class="media">
            <div class="media-body profile">
                <img class="rounded-circle account-img" src="{{ session['image'] }}">
                <h2 class="account-heading">{{ session['username'] }} <img class="verification_badge" src="../static/images/verification_badge.png" alt="verification badge"></h2> 
                <p class="text-secondary" id="join_date">Join date: {{ session['created_at'] }}</p>
                <div class="d-grid gap-2">
                    <div class="button-container d-flex gap-2 justify-content-end">
                        <a href="https://myaccount.google.com/profile" target="_blank"><button class="btn btn-primary edit-profile-btn" type="button">Edit profile info</button></a>
                        <a href="/logout"><button class="btn btn-primary danger-button" type="button">Log out</button></a>
                    </div>
                </div>
                <h3 class="bio">Bio</h3>
                <div class="bio-text">{{ bio }}</div>
                <div class="d-grid gap-2">
                    <div class="button-container d-flex gap-2 justify-content-end"> 
                        <button class="btn btn-primary profile_btn " type="button" id="edit-bio">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-section profile">
        <div class="media">
            <div class="media-body profile">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary profile_btn create_post_btn" type="button">+&nbsp&nbsp&nbspCreate post</button>
                </div>
                <div class="posts_by_div">
                    <h3 class=>Veiw account posts<button class="profile_posts_button"><img class="profile_posts_image" src="../static/images/greater-than-symbol.png"></button></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section profile">
        <div class="media posts">
        </div>
    </div>

    <script>
        // user Info 
        const userId = '{{ session["user_id"] }}';
        let userName = '{{ session["username"] }}';
        let userImage = '{{ session["image"] }}';
        let bio = '{{ bio }}';
    </script>
    <!-- Jquery file  -->
    <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>

{% endblock content %}
