* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1c1e21;
}

.bg-body-tertiary {
  background-color: #1c1e21 !important;
  border-bottom: 1px solid #198754;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 50px;
  padding: 5px 10px;
}

.avatar:hover {
  background: #34373a;
  transition: ease-in-out 0.1s;
}

.avatar__img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.navbar-brand {
  margin-right: auto;
  color: white;

}


/* Post */


.container {
  margin-top: 75px;
  margin-bottom: 60px;
}
.media-body {
  background-color: #34373a;
  padding: 10px;
  border: 1px dashed #202327;
}

.post_body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 15px;
  box-sizing: border-box;
}

.post_body:hover {
  border-color: #198754;
}

.article-metadata {
  position: relative;
  left: 9px;
  top: 13px;
}

.text-muted {
  color: white !important;
  font-size: 10px;
}

.mr-2 {
  color: #198754;
  text-decoration: none;
}

.mr-2:hover {
  color: white;
}

.article-title {
  color: white;
  text-decoration: none;
  white-space: normal;
}

.article-content {
  color: white;
  white-space: normal;
}

.post_image {
  height: 55px;
  width: 55px;

}

.actual_post {
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  left: 76px;
  padding: 15px;
}

/* Profile  */

.content-section {
  margin: 10px;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.media-body.profile {
  color: white;
  max-width: 600px; /* Adjust the value as needed */
  margin: 0 auto;
}

h2 .verification_badge {
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.profile_btn {
  background-color: #4d5053;
  border: none;
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.profile_btn:hover {
  background-color: #66696c;
}

.edit-profile-btn {
  background-color: #4d5053;
  border: none;
}

.edit-profile-btn:hover {
  background-color: #66696c;
}

.find_me_links {
  position: relative;
  left: 30px;
}

.profile_posts_button {
  float: right;
  background-color: #34373a;
  border: none;
  outline: none;
}

.profile_posts_image {
  height: 25px;
  width: 25px;

}

.posts_by {
  max-width: 600px;
}

.profile_post {
  border: none;
}

.profile_post {
  border: 1px dashed #198754;
}

.hide {
  display: none;
}

.danger-button {
  background-color: #dc3545;
  border: none;
}

.danger-button:hover {
  background-color: #9c2e38;
}

#create-post-form-overlay, #update-post-form-overlay, #bio-post-form-overlay, #update-find-me-form-overlay, #delete-post-form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 999; /* Ensure the overlay is on top */
}

#post-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
}


/* Form  */

#create-post-form-overlay, #update-post-form-overlay, #update-find-me-form-overlay, #delete-post-form-overlay {
  width: 100%;
}

#post-form {
  background-color: #34373a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  max-width: 500px;
}


.post-form {
  width: 100%;
}

.form-label {
  color: white;
}

.post_feild {
  background-color: #4d5053;
  color: white;
}

.post_feild:hover,
.post_feild:focus {
  background-color: #4d5053;
  outline: none;
  border: none;
  box-shadow: none;
  color: white;
}

.post_feild:not(:focus) {
  outline: none;
  border: none;
  box-shadow: none;
}

#create-content-feild, #update-content-feild, #bio-content-feild {
  display: flex;
  height: 200px;
  width: 100%; /* Changed width to be 100% */
  resize: vertical;
  box-sizing: border-box;
}

textarea {
  vertical-align: top;
}

#create-form-btn, #cancel-form-btn, #update-form-btn, #cancel-update-form-btn, #bio-cancel-form-btn, #create-bio-btn, #find-me-cancel-form-btn, #cancel-delete-form-btn, #delete-form-btn {
  width: calc(50% - 5px); /* Subtracting 5px for margin */
}

#cancel-form-btn, #cancel-update-form-btn, #bio-cancel-form-btn, #find-me-cancel-form-btn, #cancel-delete-form-btn {
  background-color: #4d5053;
  border: none;
}

.text-limit-title, .text-limit-content {
  color: red;
  font-style: italic;
}

.form-row {
  display: flex;
  align-items: center;
}
.form-control {
  display: inline-block;
}

.col-3 {
  margin-right: 10px;
}