* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1c1e21;
}

.bg-body-tertiary {
  background-color: #1c1e21 !important;
  border-bottom: 1px solid #198754;
}

.navbar-brand, .nav-link {
  color: white;
}

.active {
  color: #198754 !important;
}

.form-control {
  background-color: #34373a;
  border: 1px solid transparent;
  color: white;
}

.form-control::placeholder {
  color: #000000;
  font-size: 14px !important;
}

.navbar .form-control:focus {
  background-color: #34373a;
  box-shadow: none;
  border-color: #198754 !important;
  color: white;
}

.avatar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 50px;
  padding: 5px 10px;
}

.avatar:hover {
  background: #34373a;
  transition: ease-in-out 0.1s;
}

.avatar__img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.nav-link:hover {
  color: #198754;
}

.brand {
  color: white;
}
.navbar-toggler:focus {
  border: 1px solid #198754;
  box-shadow: none !important;
}

.navbar-toggler-icon {
  background-image: url(images/controls.png);
}

.col {
  background-color: #34373a;
  color: aliceblue;
  padding: 10px;
}




/* Post */


.container {
  margin-top: 75px;
  margin-bottom: 60px;
}
.media-body {
  background-color: #34373a;
  padding: 10px;
  border: 1px solid #202327;
  transition: all 0.5s ease;
}

.post_body:hover {
  transform: scale(1.1);
  border-color: #198754;
}

.article-metadata {
  border-bottom: 1px solid #202327;
}

.text-muted {
  color: white !important;
  font-size: 10px;
}

.mr-2 {
  color: #198754;
  text-decoration: none;
}

.mr-2:hover {
  color: white;
}

.article-title {
  color: white;
  text-decoration: none;
}

.article-content {
  color: white;
}



/* Profile  */

.content-section {
  margin: 10px;
}
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.media-body.profile {
  color: white;
  max-width: 600px; /* Adjust the value as needed */
  margin: 0 auto;
}

h2 .verification_badge {
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.edit-bio {
  background-color: #4d5053;
  border: none;
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 2%;
}

.edit-bio:hover {
  background-color: #66696c;
}

.find_me_links {
  position: relative;
  left: 30px;
}

